@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  --primary-bg: #191a1a;
  --secondary-bg: #1f2121;
  --primary-color: #b4b5b1;
  --secondary-color: #798c89;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  text-decoration: none;
  margin: 0;
  outline: none;
  appearance: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container .left-side {
  position: sticky;
  top: 0;
  flex: 2;
  color: var(--secondary-color);
  padding: 30px 20px 10px;
  background-color: var(--secondary-bg);
  height: 100vh;
}

.container .left-side .create-conversation {
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 4px 10px;
  border-radius: 8px;
  margin-bottom: 40px;
  cursor: pointer;
}

.container .left-side .create-conversation:hover {
  background-color: rgba(228, 228, 228, 0.05);
}

.container .left-side .title {
  font-size: 14px;
  font-weight: 600;
}

.container .left-side .history {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.container .left-side .history .item {
  position: relative;

  color: var(--primary-color);
  text-wrap: nowrap;
  overflow: hidden;
  padding: 4px 10px 4px 4px;
  border-radius: 8px;

  margin-bottom: 10px;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.container .left-side .history .item.active,
.container .left-side .history .item:hover {
  background-color: rgba(228, 228, 228, 0.05);
}

.container .left-side .history .item .delete-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 12px;
  color: rgb(145, 145, 145);
  border-radius: 4px;
  /* background-color: rgba(220, 220, 220, 0.05); */
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.container .left-side .history .item:hover .delete-btn {
  display: block;
}

.container .right-side {
  position: relative;
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  /* height: 100%; */
  color: var(--primary-color);
}

.container .right-side .content {
  width: 740px;
}

.container .right-side .text-input-container {
  position: relative;
  width: 740px;
  padding: 10px;
  border: 1px solid rgba(116, 114, 114, 0.5);
  border-radius: 8px;
  /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); */
  background-color: var(--primary-bg);
  z-index: 999;
}

.container .right-side .text-input-container:focus-within {
  border: 1px solid rgba(182, 182, 182, 0.5);
}

.container .right-side .top-title {
  position: relative;
  width: 100%;
}

.container .right-side .top-title .title {
  position: absolute;
  color: #ece6e7;
  font-size: 36px;
  font-weight: 500;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.container .right-side .text-input-container input {
  background-color: transparent;
  width: 100%;
  padding: 6px 0;
  color: var(--primary-color);
  font-size: 18px;
  border: none;
  outline: none;
}

.container .right-side .text-input-container .operation .send-btn:disabled {
  color: #798c89;
  cursor: not-allowed;
}

.container .right-side .text-input-container .operation {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  padding: 6px;
}

.container .right-side .text-input-container .operation .send-btn {
  color: white;
  background: none;
  text-decoration: none;
  padding: 12px;
  margin: 0;
  outline: none;
  appearance: none;
  border: none;
  background-color: rgba(239, 237, 237, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.container .right-side .content {
  /* position: relative; */
}

.container .right-side .text-input-container {
  position: sticky;
  bottom: 10px;
}

.container .right-side .content.have-content .top-title {
  display: none;
}

.container .right-side .content .conversation-container {
  margin-bottom: 40px;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .question
  p {
  font-size: 40px;
  font-weight: 500;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .tabs
  li {
  margin-right: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .tabs
  li.active {
  border-bottom: 3px solid var(--primary-color);
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .answer-content {
  display: none;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .answer-content.active {
  display: block;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .source-overview {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 16px;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .source-overview
  .item {
  width: 180px;
  padding: 4px;
  margin-right: 12px;

  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .answer
  .answer-text {
  text-align: justify;
  line-height: 1.6;
  /* overflow: scroll; */
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source {
  display: none;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source.active {
  display: flex;
  flex-direction: column;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source
  .item {
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 16px;
  cursor: pointer;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source
  .item
  .heading {
  font-size: 18px;
  font-weight: 500;
  color: #31b8c6;
  margin-bottom: 10px;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source
  .item
  .article-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.container
  .right-side
  .content
  .conversation-container
  .conversation
  .item
  .source
  .item
  .content {
  width: 100%;
}

.disabled {
  display: none !important;
}
